[Unit]
Description=Network Time Synchronization with Tor
ConditionCapability=CAP_SYS_TIME
Conflicts=shutdown.target
Requires=tor.service
After=tor.service
Wants=tor.service

[Service]
AmbientCapabilities=CAP_SYS_TIME
CapabilityBoundingSet=CAP_SYS_TIME
ExecStart=!!/usr/local/bin/secure-time-sync --use-tor
ProtectProc=invisible
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictNamespaces=yes
RestrictRealtime=yes
Restart=always
RestartSec=20
Type=notify
WatchdogSec=3min

[Install]
WantedBy=multi-user.target
